*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
/* Mobile-First */
/* Headeren */
#global-header{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    margin: 1rem;
}

#search{
    margin: 1rem;
    align-items: center;
    position: relative;
}

#search input{
    border-radius: 30px;
    padding: 0.5rem 1rem;
}

#search label{
    position: absolute;
    right: 15px;
    bottom: 7px
}


#global-header .navbar ul{
    list-style: none;
}

#global-header .navbar ul li{
    text-align: center;
    padding: 0.5rem;
}

#global-header .navbar ul li a{
    text-decoration: none;
    color: black;
}

#icons-hoyre i{
    padding: 0.3rem;
    margin-top: 0.5rem;
    color: black;
}

#logo-header{
    width: 100px;
}

/* Banneren/SlideShow */

.banner{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}


/* input[type='radio']{
    display: none;
} */

/* .sliderne{
    position: relative;
    width: 100%;
    
} */
 

.slide figure{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    text-align: right;
    padding: 15px;
}


.slide h2{
    font-size: 2rem;
    margin-bottom: 10px;
}

.slide p{
    font-size: 1rem;
    margin-bottom: 15px;
}

.les-mer{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: #000;
    font-size: 1rem;
    padding: 0.5rem 0.7rem;
}

.slide{
    padding: 5rem 10rem;
    border-radius: 20px;
    height: 100%;
    margin: 10px;
}

/* .slide, figure, figcaption{
    display: flex;
} */

#slider1{
    background-image: url(https://picsum.photos/id/26/500/500);
}

/* #slider2{
    background-image: url(https://picsum.photos/id/27/500/500);
}

#slider3{
    background-image: url(https://picsum.photos/id/26/500/500);
}  */


/* Våre mest populære produkter Seksjon */

#popular-products{
    display: grid;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#popular-products h2{
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#popular-products p{
    display: grid;
    align-content: center;
    padding: 1rem;
    margin: 0 4rem;
}

#knapper-produkter{
    display: flex;
    justify-content: space-between;
}

.knapper-prod{
    border-radius: 50px;
    border: 0.3px solid black;
    color: #000000;
    font-size: 1rem;
    padding: 1.5rem 1rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

#svart-knapp{
    background-color: #353333;
    color: #fff;
}







/* -----Populære produkter */

#product-card{
    margin: 0.1rem;
    align-content: center;
    padding: 0 0 2rem;
}

.skobilde{
    display: flex;
    max-width: 100%;
    height: 100%;
    align-content: center;
    padding: 0.5rem;
    margin: auto;
    border-radius: 50px;
}

article a{
    text-decoration: none;
    list-style: none;
    color: black;
    flex-direction: row;
}

article p{
    margin: 0 1rem;
}

article header{
    display: flex;
    justify-content: space-between;
    margin: 0 10px 15px;
}

.reviews{
    display: flex;
    margin: 0 8px;
}

.reviews i{
    padding: 0.2rem;
}

.reviews h4{
    padding: 0.2rem;
}

/* poplære kategorier */

#tekst-boks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 2rem;
    padding: 0 0 1rem;


}

#popular-kategorier{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

#kategori1{
    /* Bildet er tatt av <a href="https://pixabay.com/no/users/darkmoon_art-1664300/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=9042354">Dorothe</a> fra <a href="https://pixabay.com/no//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=9042354">Pixabay</a> */
    background-image: url(../Nettside/bilder/Jul.jpg);
    background-size: 450px 350px;
}

#kategori2{
    /* Bildet er tatt av <a href="https://pixabay.com/no/users/jarmoluk-143740/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=428607">Michal Jarmoluk</a> fra <a href="https://pixabay.com/no//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=428607">Pixabay</a> */
    background-image: url(../Nettside/bilder/blackfriday.jpg);
    background-size: 450px 350px;
}

#kategori3{
    /* Bildet er tatt av <a href="https://pixabay.com/no/users/pexels-2286921/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1866619">Pexels</a> fra <a href="https://pixabay.com/no//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1866619">Pixabay</a> */
    background-image: url(../Nettside/bilder/accessories.jpg);
    background-size: 400px 400px;
    padding: 10rem;
}

#kategori4{
    /* Bildet er tatt av <a href="https://pixabay.com/no/users/alba1970-29824635/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8293794">alba1970</a> fra <a href="https://pixabay.com/no//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8293794">Pixabay</a> */
    background-image: url(../Nettside/bilder/sport.jpg);
    background-size: 450px 350px;
}

#kategori5{
    /* Bildet er tatt av <a href="https://pixabay.com/no/users/jupilu-9196359/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7061815">Jupi Lu</a> fra <a href="https://pixabay.com/no//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7061815">Pixabay</a> */
    background-image: url(../Nettside/bilder/streetwar.jpg);
    background-size: 450px 320px;
}

.kort {
    padding: 9rem;
    margin: 0.5rem;
    border-radius: 20px;
}

.kort h3{
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Produkt-Anmeldelser */
#anmeldelser h2{
    padding: 1rem;
}
#anmeldelser section article{
    max-width: 350px;
    min-width: 300px;
    width: 100px;
    margin: 0 1rem;
    box-shadow: 15px 10px 10px 0px #e9e3e3; 
    border-radius: 10px;
    border: 1px solid #ddd5d5;
}

#anmeldelser-boks{
    display: flex;
    flex-direction: row;
    height: 500px;
    overflow: scroll;
}

#anmeldelser section article img {
    max-width: 100px;
    border-radius: 50%;
    margin: 1rem;
}

#anmeldelser h3{
    padding: 0 1rem 1rem;
}

aside {
    margin: 0 0 1rem;
}

ul{
    margin: 0 1rem 1rem;
}

/* Footer */

#display-grid{
    display: grid;
    grid-template-columns: auto auto auto;
}
#ingress{
    margin: 0.5rem;
    text-decoration: none;
    list-style: none;
    padding: 0 0 1.5rem;
}

#kontakt h4{
    margin: 0.5rem;
}
#kontakt label{
    display: flex;
    gap: 1rem;
    margin: 0.5rem;
    font-size: 15px;
}

#snarveier{
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem;
}

#snarveier ul{
    list-style: none;
}

#snarveier ul li a{
    color: black;
    text-decoration: none;
    list-style: none;
    font-size: 15px;
}

#sosiale-medier{
    margin: 0.5rem;
}

#sosiale-medier h4{
    padding:  0 0 1rem;
}



/* Desktop */
@media (min-width: 768px) {
    #flex-container{
        max-width: 1200px;
        margin: 0 auto;
    }
    #global-header {
        flex-direction: row;
        justify-content: space-between;
    }

    #global-header .navbar ul {
        display: flex;
    }

    #global-header .navbar ul li {
        display: flex;
        align-items: center;
        margin: 0 10px;
    }
/* Populare produkter */

    
    #produktene{
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        justify-content: space-between;
    }

    #product-card{
        max-width: 350px;
        padding: 2rem;
    }

    
}

