*{
    box-sizing: border-box;
}

#forside-logo{
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding: 1rem;
}


nav ul{
    display: flex;
    position: fixed;
    justify-content: center;
    gap: 2rem;
    padding: 7rem ;
}

