@use 'fonts.scss' as *;
@use 'layout.scss' as *;

body{
    font-family: $mainFont;

}

video{
    width: 100%;
}

#video-banner{
    position: relative;

    header{
        position: absolute;
        width: 100%;
        height: 100%;
    }
}